<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
<header class="py-5 bg-light border-bottom mb-4">
  <div class="container">
      <div class="text-center my-5" style="background-color: rgb(255, 255, 255, 0.9);">
          <h1 class="fw-bolder" style="font-family: 'Gaegu', cursive;

          ">Welcome to CountryLearn,</h1>
          <p class="lead mb-0">this is the place where you can discover everything you are interested in about a country!</div>
  </div>
</header>
<body>
  <div class="s130">
    <form>
      
      <span class="info" style="margin: 0;">Learn about Flags, Currencies, Capitals...</span>
      
      <!-- <div class="inner-form" style="
      box-shadow: 5px 6px 8px #888888;">
      <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="countries"
          [searchKeyword]="keyword"
          placeholder="Enter the Country Name"
          (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)'
          (inputFocused)='onFocused($event)'
          historyIdentifier="countries"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
      
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
      
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
        <div class="input-field second-wrap">
          <button class="btn-search" style="background-color: rgb(88, 187, 187);color: black;
          " type="button" [routerLink]="['/country']" >SEARCH</button>
        </div>
      
      </div> -->
      <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="countries"
          [searchKeyword]="keyword"
          placeholder="Enter the Country Name"
          (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)'
          (inputFocused)='onFocused($event)'
          historyIdentifier="countries"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
      
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
      
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
              <div class="input-field second-wrap">
          <button class="btn-search" style="background-color: rgb(88, 187, 187);color: black;
          " type="button" [routerLink]="['/country']" >SEARCH</button>
        </div>
      
      <!-- <div class="card" [hidden]="!showSearches">
        <div class="search">
          <div *ngFor="let country of searchedCountries; trackBy: trackById" tappable (click)="setCountryName(country)" class="search-result">
              {{country}}
          </div>     
        </div>
        <p class="search" *ngIf="searchedCountries && searchedCountries.length <= 0 && !isSearching">No Car found</p>
        <p class="search" [hidden]="!isSearching">Searching cars...</p>
        <app-autocomplete (setcarNameEvent)="setCarName($event)"></app-autocomplete>
      </div> -->
      
    </form>
    
  </div>
  
  <script src="js/extention/choices.js"></script>
