
<div class="container" >
    <div class="row">
        <div class="col-4">
            <div class="card " style="width:25rem;">
                <img class="card-img-top " src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg">
                <div class="card-body">
                    <h5 class="card-title">Country</h5>
                    <p class="card-text">Capital: </p>
                    <a href="#" class="btn btn-outline-primary btn-sm">View more</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card " style="width:25rem;">
                <img class="card-img-top " src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg">
                <div class="card-body">
                    <h5 class="card-title">Country</h5>
                    <p class="card-text">Capital: </p>
                    <a href="#" class="btn btn-outline-primary btn-sm">View more</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card " style="width:25rem;">
                <img class="card-img-top " src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg">
                <div class="card-body">
                    <h5 class="card-title">Country</h5>
                    <p class="card-text">Capital: </p>
                    <a href="#" class="btn btn-outline-primary btn-sm">View more</a>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center my-4">
            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
            <li class="page-item"><a class="page-link" href="#!">2</a></li>
            <li class="page-item"><a class="page-link" href="#!">3</a></li>
            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
            <li class="page-item"><a class="page-link" href="#!">15</a></li>
        </ul>
    </nav>
</div>