<!-- <header [routerLink]="['/countries-header']"></header> -->
<link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
<header class="py-5 bg-light border-bottom mb-4">
    
    <div class="container" >
        <div class="text-center my-5"  style="background-color: rgb(255, 255, 255, 0.7);">
            <h1 class="fw-bolder" style="font-family: 'Gaegu', cursive; ">Search after county</h1>
            <p class="lead mb-0">and get to know the countries of the world!</p>
        </div>
        <!-- <div class="input-group mb-0 w-25 mx-auto">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Button</button>
             </div>
        </div> -->
        
        <div class="input-group mb-0 w-50 mx-auto" >
            <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary" [routerLink]="['/country']" style="background-color: rgb(88, 187, 187);border: 0;color: black;">SEARCH</button>
              
            </div>
          </div>
    </div>
</header>
<div class="container" >`
    <div class="row">
    <!-- <div class="row" *ngFor="let country of getAllCountries() | async"> -->
        <div class="col-4">
            <div class="card " style="width:25rem;">
                <img class="card-img-top " src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg">
                <div class="card-body">
                    <h5 class="card-title">ASD</h5>
                    <p class="card-text">Capital: "Capital name"</p>
                    <a [routerLink]="['/country']" class="btn btn-sm">View more</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card " style="width:25rem;">
                <img class="card-img-top " src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg">
                <div class="card-body">
                    <h5 class="card-title">"Country name"</h5>
                    <p class="card-text">Capital: "Capital name"</p>
                    <a [routerLink]="['/country']" class="btn btn-sm">View more</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card " style="width:25rem;">
                <img class="card-img-top " src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg">
                <div class="card-body">
                    <h5 class="card-title">"Country name"</h5>
                    <p class="card-text">Capital: "Capital name"</p>
                    <a [routerLink]="['/country']" class="btn btn-sm">View more</a>
                </div>
            </div>
        </div>
    </div>
</div>