<header class="py-5 bg-light border-bottom mb-4">
</header>
<div class="container" >`
    <div class="row">
    <!-- <div class="row" *ngFor="let country of getAllCountries() | async"> -->
        <div class="col-4">
            <div class="card " style="width:25rem;">
                <img class="card-img-top " src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg">
                <div class="card-body">
                    <h5 class="card-title">ASD</h5>
                    <p class="card-text">Capital: "Capital name"</p>
                    <a [routerLink]="['/country']" class="btn btn-sm">View more</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card " style="width:25rem;">
                <img class="card-img-top " src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg">
                <div class="card-body">
                    <h5 class="card-title">"Country name"</h5>
                    <p class="card-text">Capital: "Capital name"</p>
                    <a [routerLink]="['/country']" class="btn btn-sm">View more</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card " style="width:25rem;">
                <img class="card-img-top " src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg">
                <div class="card-body">
                    <h5 class="card-title">"Country name"</h5>
                    <p class="card-text">Capital: "Capital name"</p>
                    <a [routerLink]="['/country']" class="btn btn-sm">View more</a>
                </div>
            </div>
        </div>
    </div>
</div>