header{
    background: url("../../../assets/background.jpg") no-repeat center center
    fixed;
  background-size: cover;
}

.btn-sm{
  color: rgb(88, 187, 187);
  border-color: rgb(88, 187, 187);
}

.page-link{
  color:rgb(88, 187, 187);
}

.card-title{
  font-family: 'Gaegu', cursive;
}

.list-unstyled{
  color: gray;
}
