<link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
<header class="py-5 bg-light border-bottom mb-4">
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-4">
                <img class="card-img-top" src={{country.flag}} />
                <div class="card-body">
                    <h2 class="card-title display-3" style="font-family: 'Gaegu', cursive;">{{country.name}}</h2>
                    <div class="row ">
                        <div class="col-lg-7">
                            <div class="small text-muted fs-4">Capital city: {{country.capital}}</div>
                            <div class="small text-muted fs-4">Independent: {{country.independent}}</div>
                            <div class="small text-muted fs-4">Population: {{country.population}}</div>
                            <div class="small text-muted fs-4">Map: <a href={{country.map}}  class="text-decoration-none">{{country.map}}</a></div>
                        </div>
                        <div class="col-lg-5 justify-content-end">
                            <img class="card-img-top" src={{country.coatOfArms}}/>
                            <div class="justify-content-end">Coat of arms</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Find another country</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter county name..." aria-label="Enter country name..." aria-describedby="button-search" />
                        <button [routerLink]="['/country']" class="btn btn-primary" id="button-search" type="button" style="background-color: rgb(88, 187, 187);border: 0;">Search</button>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header" style="background-color: rgb(88, 187, 187);">Compare with another country</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter county name..." aria-label="Enter country name..." aria-describedby="button-search" />
                        <button [routerLink]="['/comparison']" class="btn btn-primary" id="button-search" type="button" style="border-color: rgb(88, 187, 187); background-color: white;color: black;">Compare</button>
                    </div>
                </div>
            </div>

            <div class="card mb-4 data col-lg-8">
                <div class="card-header">Continents</div>
                <div class="card-body col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li *ngFor="let continent of country.continents">{{continent}}</li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4 data col-lg-8">
                <div class="card-header">Languages</div>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        <li *ngFor="let language of country.languages">{{language}}</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 data col-lg-8">
                <div class="card-header">Currencies</div>
                <div class="card-body">         
                    <ul class="list-unstyled mb-0">               
                        <li *ngFor="let currency of country.currencies">{{currency}}</li>
                    </ul>
            </div>
        </div>
    </div>
</div>