<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<header class="py-5 bg-light border-bottom mb-4">
</header>

<div class="w3-content" style="max-width:1500px">

    <div class="w3-row-padding" style="margin-bottom:128px; ">
        <div class="card mb-4" style="width: 50%; margin: auto; ">
            <div class="card-header" style="background-color: rgb(88, 187, 187); color: white;">Compare with another country</div>
            <div class="card-body">
                <div class="input-group">
                    <div class="ng-autocomplete">
                        <ng-autocomplete
                          [data]="countries"
                          [searchKeyword]="keyword"
                          placeholder="Enter the Country Name"
                          (selected)='selectEvent($event)'
                          (inputChanged)='onChangeSearch($event)'
                          (inputFocused)='onFocused($event)'
                          historyIdentifier="countries"
                          [itemTemplate]="itemTemplate"
                          [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>
                      
                        <ng-template #itemTemplate let-item>
                          <a [innerHTML]="item.name"></a>
                        </ng-template>
                      
                        <ng-template #notFoundTemplate let-notFound>
                          <div [innerHTML]="notFound"></div>
                        </ng-template>
                      </div>                            
                </div>
            </div>
        </div>
        <div class="w3-row-padding">
            <div>
                <div class="card w3-half" style="padding: 3%;">
                    <img class="card-img-top " (click)="showCountry(firstCountry.name)" src={{firstCountry.flag}}>
                    <div class="card-body">
                        <h2 class="card-title">{{firstCountry.name}}</h2>
                        <div class=" text-muted fs-4">Capital city: {{firstCountry.capital}}</div>
                        <div class=" text-muted fs-4">Independent: {{firstCountry.independent}}</div>
                        <div class=" text-muted fs-4">Population: {{firstCountry.population}}</div>
                        <div class=" text-muted fs-4">Map: <a href={{firstCountry.map}} class="text-decoration-none">{{firstCountry.map}}</a></div>

                        <div style="margin-top: 4vh;">
                            <div class="card-header">Continents</div>
                            <div class="card-body col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li *ngFor="let continent of firstCountry.continents">{{continent}}</li>
                                </ul>
                            </div>
                        </div>


                        <div class="card-header">Languages</div>
                        <div class="card-body col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li *ngFor="let language of firstCountry.languages">{{language}}</li>
                            </ul>
                        </div>

                        <div class="card-header">Currencies</div>
                        <div class="card-body col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li *ngFor="let currency of firstCountry.continents">{{currency}}</li>
                            </ul>
                        </div>

                        <div class="card-header">Timezones</div>
                        <div class="card-body col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li *ngFor="let timezone of firstCountry.timezones">{{timezone}}</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="card w3-half" style="padding: 3%;">
                    <img class="card-img-top " src={{secondCountry.flag}} (click)="showCountry(secondCountry.name)">
                    <div class="card-body">
                        <h2 class="card-title">{{secondCountry.name}}</h2>
                        <div class=" text-muted fs-4">Capital city: {{secondCountry.capital}}</div>
                        <div class=" text-muted fs-4">Independent: {{secondCountry.independent}}</div>
                        <div class=" text-muted fs-4">Population: {{secondCountry.population}}</div>
                        <div class=" text-muted fs-4">Map: <a href={{secondCountry.map}} class="text-decoration-none">{{secondCountry.map}}</a></div>

                        <div style="margin-top: 4vh;">
                            <div class="card-header">Continents</div>
                            <div class="card-body col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li *ngFor="let continent of secondCountry.continents">{{continent}}</li>
                                </ul>
                            </div>
                        </div>


                        <div class="card-header">Languages</div>
                        <div class="card-body col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li *ngFor="let language of secondCountry.languages">{{language}}</li>
                            </ul>
                        </div>

                        <div class="card-header">Currencies</div>
                        <div class="card-body col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li *ngFor="let currency of secondCountry.continents">{{currency}}</li>
                            </ul>
                        </div>

                        <div class="card-header">Timezones</div>
                        <div class="card-body col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li *ngFor="let timezone of secondCountry.timezones">{{timezone}}</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <!-- <div class="card mb-4">
                    <div class="card-header" style="background-color: rgb(88, 187, 187); color: white;">Compare with another country</div>
                    <div class="card-body">
                        <div class="input-group">
                            <div class="ng-autocomplete">
                                <ng-autocomplete
                                  [data]="countries"
                                  [searchKeyword]="keyword"
                                  placeholder="Enter the Country Name"
                                  (selected)='selectEvent($event)'
                                  (inputChanged)='onChangeSearch($event)'
                                  (inputFocused)='onFocused($event)'
                                  historyIdentifier="countries"
                                  [itemTemplate]="itemTemplate"
                                  [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
                              
                                <ng-template #itemTemplate let-item>
                                  <a [innerHTML]="item.name"></a>
                                </ng-template>
                              
                                <ng-template #notFoundTemplate let-notFound>
                                  <div [innerHTML]="notFound"></div>
                                </ng-template>
                              </div>                            
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</div>