<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<header class="py-5 bg-light border-bottom mb-4">
</header>

<div class="w3-content" style="max-width:1500px">

    <div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">
        <div class="w3-row-padding w3-grayscale">
            <div>
                <div class="card w3-half" style="padding: 3%;">
                    <img class="card-img-top " src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Country name</h5>
                        <div class=" text-muted fs-4">Capital : "Capital name"</div>
                        <div class=" text-muted fs-4">Independent : "No"</div>
                        <div class=" text-muted fs-4">Population : "Number"</div>
                        <div class=" text-muted fs-4">Map: <a href="#!" class="text-decoration-none">"Map URL"</a></div>

                        <div style="margin-top: 4vh;">
                            <div class="card-header">Continents</div>
                            <div class="card-body col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li>Kontinent 1</li>
                                    <li>Kontinent 2</li>
                                    <li>Kontinent 3</li>
                                </ul>
                            </div>
                        </div>


                        <div class="card-header">Languages</div>
                        <div class="card-body col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li>Language 1</li>
                                <li>Language 2</li>
                                <li>Language 3</li>
                                <li>Language 4</li>
                                <li>Language 5</li>
                            </ul>
                        </div>

                        <div class="card-header">Currencies</div>
                        <div class="card-body col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li>Currency 1</li>
                                <li>Currency 2</li>
                                <li>Currency 3</li>
                                <li>Currency 4</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="card w3-half" style="padding: 3%;">
                    <img class="card-img-top " src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Country name</h5>
                        <div class=" text-muted fs-4">Capital : "Capital name"</div>
                        <div class=" text-muted fs-4">Independent : "No"</div>
                        <div class=" text-muted fs-4">Population : "Number"</div>
                        <div class=" text-muted fs-4">Map: <a href="#!" class="text-decoration-none">"Map URL"</a></div>

                        <div style="margin-top: 4vh;">
                            <div class="card-header">Continents</div>
                            <div class="card-body col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li>Kontinent 1</li>
                                    <li>Kontinent 2</li>
                                    <li>Kontinent 3</li>
                                </ul>
                            </div>
                        </div>


                        <div class="card-header">Languages</div>
                        <div class="card-body col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li>Language 1</li>
                                <li>Language 2</li>
                                <li>Language 3</li>
                                <li>Language 4</li>
                                <li>Language 5</li>
                            </ul>
                        </div>

                        <div class="card-header">Currencies</div>
                        <div class="card-body col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li>Currency 1</li>
                                <li>Currency 2</li>
                                <li>Currency 3</li>
                                <li>Currency 4</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>